---
import rawStylesCSS from '../../lib/v1/style.css?raw'

---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTMX Playground</title>
	<style is:inline set:html={rawStylesCSS}></style>
	<script>
		import { parseSandboxLocationFromHref } from '../../lib/location';
		import { Sandbox } from '../../lib/v1/sandbox';
		import DOMPurify from 'dompurify';


		let loc = parseSandboxLocationFromHref(window.location.href) || {
			method: "fetch",
			version: "v1",
			params: {
				  url: "/v1/example"
			}
		}
	
		var sandbox = await Sandbox.load(loc)

		document.title = sandbox.title + ' - HTMX Playground';
		document.getElementById('header')!.innerText = sandbox.title;

		async function loadSandbox() {
			let filesPromise = sandbox.loadFiles()
			let runtime: any = await import('../../lib/v1/Runtime.svelte');
			await filesPromise;

			new runtime.default({
				target: document.getElementById("app"),
				props: { sandbox }
			})
		}

		if (localStorage.getItem('popup-shown') !== 'true') {
			let readme = document.getElementById('readme')!
	
			if (sandbox.readmeHTML) {
				readme.innerHTML = DOMPurify.sanitize(sandbox.readmeHTML)
			}
	
			let gotoSandboxButton = document.getElementById('goto-button')!
	
			function closePopup() {
				document.body.classList.add('hide-popup')
	
				if (localStorage.getItem('popup-shown') !== 'true') {
					localStorage.setItem('popup-shown', 'true')
					loadSandbox();
				}
			}

			gotoSandboxButton.addEventListener('click', closePopup)
		} else {
			loadSandbox();
		}

	</script>
</head>
<body spellcheck="false">
	<script is:inline>
		if (localStorage.getItem('popup-shown') == 'true') {
			document.body.classList.add('hide-popup');
		}
	</script>
    <div id="popup-top">
        <main id="popup">
			<h1 id="header"><img src="/img/logo_transparent_96.png" alt="HTMX Playground" width="64" height="64"> <span id="header-contents"></span></h1>
			<div id="goto-container">
				<button id="goto-button">
					Go to playground ↪
				</button>
			</div>
            <article id="readme"></article>
        </main>
    </div>
    <div id="app"></div>
</body>
</html>
