
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module">
        document.addEventListener('DOMContentLoaded', async() => {
            let runtime = await import('../../lib/v1/test/_Editor.svelte');
            await filesPromise;
    
            new runtime.default({
                target: document.getElementById("app"),
                props: { sandbox }
            })
        })
    </script>
</head>
<body>
    <div id="app"></div>
</body>
</html>
