
#dice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  gap: 12px;
}

/* Die styles are based on https://codepen.io/LandonSchropp/pen/KpzzGo */
.face {
  display: grid;
  grid-template-areas: "a . c"
                       "e g f"
                       "d . b";
  flex: 0 0 auto;
  padding: 4px;
  width: 75px;
  height: 75px;
  background-color: #e7e7e7;
  border-radius: 10%;
}
.face:hover {
  background-color: #e7e7e7;
  outline: 3px solid #0af9;
}

.pip {
  display: block;
  align-self: center;
  justify-self: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #333;
}

.pip:nth-child(2) { grid-area: b; }
.pip:nth-child(3) { grid-area: c; }
.pip:nth-child(4) { grid-area: d; }
.pip:nth-child(5) { grid-area: e; }
.pip:nth-child(6) { grid-area: f; }
.pip:nth-child(odd):last-child { grid-area: g; }
