#app {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
}

.hide {
    display: none;
}

pre > code {
    white-space: initial;
}
