.ace_gutter {
  background: #191919 !important;
  color: #8F908A !important;
}

.ace_print-margin {
  width: 0px !important;
  background: #555651 !important;
}

.ace_editor {
  background-color: #222222 !important;
  color: #F8F8F2 !important;
}

.ace_cursor {
  color: #F8F8F0 !important;
}

.ace_marker-layer .ace_selection {
  background: #3E3E3E !important;
}

.ace-monokai.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #222222 !important;
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important;
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid #3E3E3E !important;
}

.ace_marker-layer .ace_active-line {
  background: #2d2c2d !important;
}

.ace_gutter-active-line {
  background-color: #272727 !important;
}

.ace_marker-layer .ace_selected-word {
  border: 1px solid #3E3E3E !important;
}

.ace_invisible {
  color: #52524d !important;
}

.ace_entity.ace_name.ace_tag,
.ace_keyword,
.ace_meta.ace_tag,
.ace_storage {
  color: #fa5080 !important;
}

.ace_punctuation,
.ace_punctuation.ace_tag {
  color: #8b888f !important;
}

.ace_constant.ace_character,
.ace_constant.ace_language,
.ace_constant.ace_numeric,
.ace_constant.ace_other {
  color: #AE81FF !important;
}

.ace_invalid {
  color: #F8F8F0 !important;
  background-color: #FC618D !important;
}

.ace_invalid.ace_deprecated {
  color: #F8F8F0 !important;
  background-color: #AE81FF !important;
}

.ace_support.ace_constant,
.ace_support.ace_function {
  color: #66D9EF !important;
}

.ace_fold {
  background-color: #5ad4e6 !important;
  border-color: #F8F8F2 !important;
}

.ace_storage.ace_type,
.ace_support.ace_class,
.ace_support.ace_type {
  font-style: italic !important;
  color: #66D9EF !important;
}

/* fc618d */

.ace_entity.ace_name.ace_function,
.ace_entity.ace_other,
.ace_entity.ace_other.ace_attribute-name,
.ace_variable {
  color: #5ad4e6 !important;
  font-style: italic !important;
}

.ace_variable.ace_parameter {
  font-style: italic !important;
  color: #FD971F !important;
}

.ace_string {
  color: #E6DB74 !important;
}

.ace_comment {
  color: #75715E !important;
}

/* .ace_indent-guide {
  background: url("../monokai-1.png") right repeat-y !important;
} */
/* 
.ace_indent-guide-active {
  background: url("../monokai-2.png") right repeat-y !important;
} */
